*{
  padding:0;
  margin:0;
  box-sizing: border-box;

  font-family: 'Lexend Deca', sans-serif;
}

body, html{
  width: 100%;
  height: 100%;

  font-family: 'Lexend Deca', sans-serif;
}

.root{
  width: 100%;
  height: 100%;
}

.react-calendar__tile--now,
.react-calendar__tile--now > abbr{
  background: #ffff76 !important;
}

button.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--neighboringMonth.completed > abbr{
  background-color: #8CC654;

  padding: 11px 12.5px;

  color: #757575;

  border-radius: 50px;
}

button.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--neighboringMonth.incompleted > abbr{
  background-color: #E65666;

  padding: 10px 11px;

  color: #757575;

  border-radius: 50px;
}

button.completed > abbr{
  background-color: #8CC654;

  padding: 11px 12.5px;

  color: #000000;

  border-radius: 50px;
}

button.incompleted > abbr{
  background-color: #E65666;

  padding: 10px 11px;

  color: #000000;

  border-radius: 50px;
}

.react-calendar__viewContainer,
.react-calendar__year-view,
.react-calendar__decade-view,
.react-calendar__month-view,
.react-calendar__century-view,
.react-calendar__month-view > div,
.react-calendar__month-view > div > div{
  height: 100%;
}

.react-calendar__year-view__months,
.react-calendar__decade-view__years,
.react-calendar__century-view__decades{
  height: 84%;
}

.react-calendar__month-view__days{
  height: 76%;
}