*{
  padding:0;
  margin:0;
  box-sizing: border-box;

  font-family: 'Lexend Deca', sans-serif;
}

body, html{
  width: 100%;
  height: 100%;

  font-family: 'Lexend Deca', sans-serif;
}

.root{
  width: 100%;
  height: 100%;
}

.react-calendar__viewContainer{
  height: 100%;
}
.react-calendar__month-view{
  height: 100%;
}
.react-calendar__month-view > div{
  height: 100%;
}
.react-calendar__month-view > div > div{
  height: 100%;
}
.react-calendar__month-view__days{
  height: 76%;
}